@font-face {
    font-family: regular;
    src: url('../css/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: light;
    src: url('../css/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: medium;
    src: url('../css/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: bold;
    src: url('../css/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: sbold;
    src: url('../css/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: digital;
    src: url('../css/fonts/digital.ttf');
}
@font-face {
    font-family: mono;
    src: url('../css/fonts/digital-mono.ttf');
}
@font-face {
    font-family: time;
    src: url('../css/fonts/timer.ttf');
}