body{
	font-family: Poppins !important;
	color: #0E1127;
}
.bgc-dark{background-color: #011E47}
.bgc-warning{background-color: #FD6301}

.hero-wrapper{
	background-image: url('../img/hong-kong-night-skyline.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.wrapper-inner {
	height: 75vh;
	margin-top: 30px;
}

.wrapper-inner .row > .col-xl-7{
    background-color: rgb(255 255 255 / 60%);
	position: relative;
}
.wrapper-inner .row > .col-xl-5{
	background-color: #fff;
	position: relative;
}
.form-wrap-text {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 0%;
    padding: 30px;
}
.form-wrap-text h1{
	font-size: 77px;
	line-height: 93px;
	color: #001C44;
	font-weight: 600;
}
.form-wrap-text h1 span
{
    font-size: 50px;    
	font-weight: 400;
    display: block;
}

.form-wrap-text p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #001C44;
}

.login-form-wrapper {
    /* padding: 50px; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    right: auto;
    width: 70%;
}
.form-wrapper-inner{
	border-radius: 12px;
	padding: 20px;
	max-width: 350px;
	min-height: 460px;
	position: relative;
}
.form-title{
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}
.form-btn-group{
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 20px;
}
.form-btn-group span{
	position: relative;
	top: 7px;
}
.button-info{
	background-color: #0084A2;
	font-size: 12px;
	color: #FFFFFF;
	padding: 11px 22px;
	border: 1px solid #0084A2;
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-warning:hover,.button-warning:focus{
	text-decoration: none;
}
.button-warning{
	background-color: #FD6301;
	font-size: 12px;
	color: #FFFFFF;
	padding: 11px 22px;
	border: 1px solid #FD6301;
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-warning:hover,.button-warning:focus{
	text-decoration: none;
	background-color: #fd721a;
	color: #fff;
}
.button-dark{
	background-color: #011E47;
	font-size: 12px;
	color: #FFFFFF;
	padding: 11px 22px;
	border: 1px solid #011E47;
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-dark:hover,.button-dark:focus{
	text-decoration: none;
}
.button-primary{
	background-color: #00BFE5;
	border: 1px solid #00BFE5;
	font-size: 12px;
	color: #FFFFFF;
	padding: 11px 22px;
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;	
}
.button-primary:hover,.button-primary:focus{
	background-color: #0dd7ff;
	color: #fff;
	text-decoration: none;
}

.button-outline-warning{
	background-color: transparent;
	border: 1px solid #FD6301;
	font-size: 12px;
	color: #FD6301;
	padding: 11px 22px;
	border-radius: 4px;
}
.button-outline-warning:hover, .button-outline-warning:focus{
	background-color: #FD6301;
	color: #fff;
}
.btn-sm{
	padding: .27rem 1rem !important;
}
.login-nav li > a{
	font-size: 16px;font-weight: 500;color: #FFFFFF;
}
.currency-btn{
	border: 1px solid #fff;
	background-color: transparent;
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	padding: 0px 12px;
	margin-right: 7px;
}
.currency-btn:hover, .currency-btn:focus{
	border: 2px solid #001C44;
	color: #001C44;
	background-color: #fff;
	outline: none;
}
.form-notes{
	font-size: 10px;
	line-height: 14px;
	color: #fff;
	text-align: center;
}
.form-link{
	font-size: 12px;
	color: #fff;
}
.form-link-lg{
	font-size: 18px;
	color: #fff;
}
.form-link:hover, .form-link:focus, .form-link-lg:hover, .form-link-lg:focus{
	color: #fff;
	text-decoration: none;
}
.form-wrapper-inner .form-control{
	font-size: 14px;
	color: #7E7E7E;
	padding: 20px 10px;
}
.forgot-link{
	font-size: 12px;
	line-height: 14px;
	color: #FD6301;
}
.forgot-link:hover,.forgot-link:focus{
	color: #FD6301;
	text-decoration: none;
}

.form-wrapper-inner h2{
	font-size: 29px;
	line-height: 35px;
	text-align: center;
	color: #001C44;
	font-weight: 500;
	margin-bottom: 70px;
}
.form-footer {
    position: absolute;
    width: -webkit-fill-available;
    display: block;
    left: 0;
    padding: 0px 20px;
    bottom: 20px;
}
/*----------------------------------------------
---------- Custom Checkbox --------------------
----------------------------------------------*/
span.checkbox-title{
    font-size: 10px;
    line-height: 30px;
    position: relative;
    bottom: 3px;
    color: #fff;
}
/* Styling Checkbox Starts */
.checkbox-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 24px;
    clear: both;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 1px solid #FD6301;
}
.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 50%;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 1px solid #FD6301;
}
.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: solid #FD6301;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid #FD6301;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}
/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #012145;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}
.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

/* checkbox secondary */

.checkbox-title-secondary{
	color: #0E1127;
	font-size: 10px;
    line-height: 30px;
    position: relative;
    bottom: 1px;
}

/* Styling Checkbox Starts */
.checkbox-secondary {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 24px;
    clear: both;
}
.checkbox-secondary input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-secondary .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 1px solid #707070;
}
.checkbox-secondary input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 50%;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 1px solid #707070;
}
.checkbox-secondary .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: solid #707070;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.checkbox-secondary input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid #707070;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}
/* For Ripple Effect */
.checkbox-secondary .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #012145;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}
.checkbox-secondary input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
@media (min-width: 1440px){
	.container, .container-lg, .container-md, .container-sm, .container-xl{
		max-width: 1280px !important;
	}
	.container.container-expand{
		max-width: 90% !important;
	}
}


/*-----------WIZARD FORM-------------*/
.wizard{
	position: relative;
	background-color: #fff;
	z-index: 5;
}
.wizard:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 25%;
	background-color: #007597;
	z-index: -1;
}
.wizard-inner {
    padding: 66px 50px;
    overflow: hidden;
    position: relative;
}
/*------------------------*/
input:focus,
button:focus,
.form-control:focus{
  outline: none;
  box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
  background-color: #fff;
}

/*---------signup-step-------------*/
.bg-color{
  background-color: #333;
}
.signup-step-container{
  padding: 50px 0px;
  padding-bottom: 60px;
}

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.connecting-line {
    height: 4px;
    background: transparent linear-gradient(90deg, var(--unnamed-color-0e1127) 0%, #0C3043 1%, #0A5060 2%, #086B79 4%, #07818D 5%, #06929C 7%, #059EA7 10%, #05A5AD 13%, #05A7AF 22%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(90deg, #0E1127 0%, #0C3043 1%, #0A5060 2%, #086B79 4%, #07818D 5%, #06929C 7%, #059EA7 10%, #05A5AD 13%, #05A7AF 22%) 0% 0% no-repeat padding-box;
	opacity: 1;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 114px;
    z-index: 1;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
.round-tab {
    width: 70px;
    height: 70px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    background-image: url('../img/loader-disable.gif');
	background-repeat: no-repeat ;
	background-size: contain;
}
.round-tab i{
    color:#555555;
}
.wizard li.active .round-tab {
	width: 100px;
    height: 100px;
    background-image: url('../img/loaader-active.gif');
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
  /* color: #0db02b; */
}

.wizard .nav-tabs > li {
    width: auto;
    display: inline-block;
    position: relative;
}

.wizard .nav-tabs li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
}
.wizard .nav-tabs > li a span {
    position: absolute;
    top: 100%;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 8px;
    font-weight: 600;
    color: #0E1127;
}

.wizard .nav-tabs > li a h2 {
    position: absolute;
    top: 50%;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 700;
    color:#000000;
    margin: 0;
}

.wizard .nav-tabs > li.active a span {
	top: 55%;
	transform: translate(-50%, -50%);
}
.wizard .nav-tabs > li.active a h2 {
	top: 40%;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
  font-size: 14px;
  font-weight: 400;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.footer-link{
  margin-top: 30px;
}
.all-info-container{

}
.list-content{
  margin-bottom: 10px;
}
.list-content a{
  padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
  transform: rotate(180deg);
}
.list-content a i{
  text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
.list-box{
  padding: 10px;
}
.signup-logo-header .logo_area{
  width: 200px;
}
.signup-logo-header .nav > li{
  padding: 0;
}
.signup-logo-header .header-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-inline li{
    display: inline-block;
}
.step-nav{
    text-align: right;
}
/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;   
}
input[type="checkbox"]::before{
    height: 29px;
    width: 29px;
    border: 1px solid #707070;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}
input[type="checkbox"]::after {
    height: 6px;
    width: 15px;
    left: 8px;
    top: 6px;
}
input[type="checkbox"]:checked::after {
    content: "";
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
    background-color: #0DB7E0;
    border-color: #0DB7E0;
}



.wizard ul.nav-tabs > li:not(:first-child) {
    padding: 0px 0px 0px 25px;
}


@media (max-width: 767px){
  .sign-content h3{
    font-size: 40px;
  }
  .wizard .nav-tabs > li a i{
    display: none;
  }
  .signup-logo-header .navbar-toggle{
    margin: 0;
    margin-top: 8px;
  }
  .signup-logo-header .logo_area{
    margin-top: 0;
  }
  .signup-logo-header .header-flex{
    display: block;
  }
}

.sidebar-col{
	padding: 30px 30px;
}
.step-heading{text-align: right;}
.step-heading h1{
	font-size: 63px;
	font-weight: 600;
	margin-bottom: 0;
	color: #FFFFFF;
}
.step-heading h1 span{color: #231F20;} 
.step-title{font-size: 20px;line-height: 24px;font-weight: 300;color: #0E1127;margin-top:15px;}


.instruction-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px 20px 0px 20px;
    padding: 20px;
    min-height: 100px;
}
.instruction-box h4{
	font-size: 14px;line-height: 21px;color: #0E1127;font-weight: 400;letter-spacing: .14px;
}
.instruction-box p{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: .12px;
	color: #0E1127;
	margin-bottom: 0;
}

.right-bar {
    padding: 0px 30px;
}

.form-box{
	background-color: #F4F4F4;
	padding:20px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}
.form-box-transparent{
	background-color: transparent;
	padding:20px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}
.form-caption{
	font-size: 14px;
	line-height: 19px;
	color: #0E1127;
}
.wizard label{
	font-size: 14px;
	line-height: 16px;
	color: #0E1127;
}
.wizard .form-control{
	font-size: 10px;
	color: #818181;
	border: 0.5px solid #7E7E7E;
	padding: 6px;
	height: 42px;
}

/* remove the original arrow */
select.caret {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

select + i.icofont-caret-down {
    float: right;
    margin-top: -27px;
    margin-right: 5px;
    color: #0DB7E0;
    pointer-events: none;
    background-color: #fff;
    padding-right: 0px;
}
.select-filter .input-group-prepend{
    width: 50px;
    position: relative;
    margin-right: 5px !important;
}
.select-filter .input-group-append{
	width: 50px;
    position: relative;
    margin-left: 5px !important;
}
.input-group.select-filter>.custom-select:not(:first-child), .input-group.select-filter>.form-control:not(:first-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.input-group.select-filter>.custom-select:not(:last-child), .input-group.select-filter>.form-control:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-group{
	position: relative;
}
.input-group label.error{
	position: absolute;
	bottom: -25px;
	right: 0;
}
.input-group select + i.icofont-caret-down {
    margin-top: 14px;
    margin-right: 2px;
    position: absolute;
    right: 0;
    float: none;
}
.append-icon .form-control{
	border-right: 0;
}
.append-icon .input-group-text{
	background-color: #fff;
	border-color: #7E7E7E;
	color: #1EB7E0;
}
.fs-10{font-size: 10px;}
.fs-12{font-size: 12px !important;}
.fs-14 {font-size: 14px;line-height: 20px;}
.fs-16 {font-size: 16px;}
.fs-18 {font-size: 18px;line-height: 34px;}
.fs-36{font-size: 36px;line-height: 47px;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}

.w-160{min-width: 160px;}
.w-180{min-width: 180px;}
.w-200{min-width: 200px;}

.link-primary{
	color: #0DB7E0 !important;
}
.link-warning{
	color: #FD6301 !important;
}
.link-primary:focus, .link-primary:hover{
	color: #0DB7E0;
	text-decoration: none;
	cursor: pointer;
}

.form-box-transparent .form-check-inline .form-check-input {
    margin-right: 2rem !important;
}

.form-box-transparent  input[type="checkbox"]::before {top: -4px;}

.verfication-input{
	display: flex;
	justify-content: flex-start;
}
.digit-group input {
	 width: 38px;
	 height: 67px;
	 border: none;
	 line-height: 67px;
	 text-align: center;
	 font-size: 24px;
	 font-weight: 400;
	 background: #FFFFFF 0% 0% no-repeat padding-box;
	 box-shadow: 0px 0px 6px #00000029;
	 border: 0.25px solid #707070;
	 border-radius: 6px;
	 margin-right: 15px;
}


.pricing-card{
	background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 7px 7px 10px #00000040;
}
.pricing-card .card-body{
	padding: 0;
}
.card-title {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    font-weight: 300;
    margin-bottom: 0px !important;
}
.plan-sm{
	border-bottom: 1px solid rgba(0,0,0,.125);
	padding: 10px 20px;
}
.plan-sm h2{
	font-size: 27px;
	line-height: 32px;
	font-weight: 500;
	margin: 0;
}
.plan-sm h2 sup{
	font-size: 14px;line-height: 17px;
}
.plan-lg{border-bottom: 1px solid rgba(0,0,0,.125);}
.plan-lg h2{
	font-size: 48px;
	line-height: 58px;
	font-weight: 500;
	margin: 0;
}
.plan-lg h2 sup{
	font-size: 26px;line-height: 32px;
}
.basic-plan .plan-sm h2{color: #000000;}
.premium-plan .plan-sm h2{color: #012145;}
.plan-sm p {
    font-size: 8px;
    line-height: 10px;
    color: #000;
    margin: 0;
}
.plan-sm p span{font-weight: 500;}
.plan-list {padding: 10px 20px;}
.plan-list ul{
	padding-left: 0;
}
.plan-list ul > li {
	font-size: 10px;line-height: 14px;color: #012145;
	list-style: none;
	padding-left: 15px;
	position: relative;
	padding-top: 10px;
}
.plan-list ul > li:before{
	content: '\eed6';
	font-family: IcoFont!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #FD6301;
    position: absolute;
    left: 0;
}

.basic-plan .card-header{
	background-color: #E3E3E3;
}

.premium-plan .card-header{background: #1F8D95;}
.premium-plan .card-body .plan-sm:first-child{
	background-color: #A5D1D5;
}

.total-card .card-header{
	background-color: #707070;
}
.total-card .card-body{background-color: #BFBFBF;}
.payment-method{padding:10px 20px;}
.payment-method h4 {
    font-size: 15px;
    line-height: 23px;
    color: #000000;
    margin: 0;
}
.payment-method p{font-size: 10px;line-height: 12px;color:#0E1127;}

.payment-option{
	background-color: #F4F4F4;
	padding:20px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: 7px 7px 10px #00000040;
}
.payment-option h4{
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 0;
}

label sup a{
	font-size: 10px;
	color: #818181;
}
label sup a:hover, label sup a:focus{
	color: #818181;
	text-decoration: none;
}
label.error {
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    display: block;
    margin-top: 5px;
    color: #C70000;
}
.error-success{
	color: #79AA1C;
}
.error-failed{
	color: #C70000;
}

.add-more{
	color: #0DB7E0 !important;
	font-size: 25px ;
}
.add-more:hover,.add-more:focus{cursor: pointer;}

.property-box{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 10px #00000029;
	border-radius: 13px;
	height: 190px;
	width: 190px;
	padding: 20px;
	text-align: center;
}
.property-box img{
	max-width: 132px;
}
.filter-append{

}
.btn-append, .btn-prepend{
    border: 1px solid #7E7E7E;
    background-color: #fff;
    font-size: 10px;
    color: #818181;
    padding: 6px;
    height: 42px;
    
    width: 44px;
}
.btn-append:focus, .btn-append:hover, .btn-prepend:focus, .btn-prepend:hover{
	outline: none;
	box-shadow: none;
}
.btn-append{
	border-radius: 0px 4px 4px 0px;
}
.btn-prepend {
    border-radius: 4px 0px 0px 4px;
}
@media(max-width:991px)
{
    .wrapper-inner
    {
        margin-top:0px !important;
    }
    .hero-wrapper .h-100 {
        height: auto !important;
    }
    .form-wrap-text {
        position: relative; 
        transform: translate(0%, 0%); 
        top: 0%;
        padding: 30px 15px;
        
    }
    .form-wrapper-inner
    {
        margin:0 auto;
    }
    .login-form-wrapper {
        position: relative;
        transform: translate(0%, 0%);
        top: 0%;
        left: 0%; 
        padding: 30px 15px;
        width:100%;
    }
    .login-form-wrapper .form-btn-group 
    {
        display:flex;
        align-items:center;
        flex-direction:column;
        
    }
    .login-form-wrapper .form-btn-group span
    {
        top:0px;
        padding:5px;
    } 
    .login-form-wrapper .form-btn-group .fs-12
    {
        width:100%;
    }
    .form-wrap-text h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom:0px;
    }
    .form-wrap-text h4 {
        font-size: 24px;
        line-height: 28px;
    }
    .form-wrap-text p {
        font-size: 16px;
        line-height: 20px;
        margin:0px;
    }
}
